<div class="comment">
	<p class="comment-content">
		<%= comment.description %>
	</p>
	<p class="comment-posted-by">
		Posted by: <%= comment.user.name %>
	</p>
	<div class="actions">
		<% if user_signed_in? %>
			<% if @user.comment_likes.pluck(:comment_id).include?(comment.id) %>
				<span class="glyphicon glyphicon-ok btn-sm btn-danger" aria-hidden="true"> Liked</span>
			<% else %>	
				<%= link_to "Like",  article_comment_comment_likes_path(@article,comment), method: "post" , class: "btn-sm btn-success" %>
			<% end %>	
			<% if comment.user == @user %>
				<%= link_to "Edit", edit_article_comment_path(@article,comment), class: "btn-sm btn-success" %>
				<%= link_to "Delete", article_comment_path(@article,comment), method: :delete, data: { confirm: "Are you sure want to delete..?"  }, class: "btn-sm btn-success" %>
			<% end %>	
		<% end %>
	</div>	
</div>	