<div class="container">
	<h1>
		<%= @article.title %><%= link_to "Back", articles_path, class: "btn btn-success pull-right"  %>
		<%= link_to "Edit", edit_article_path(@article), class: "btn btn-success pull-right" %>
	</h1><hr>
	<div class="col-md-8 col-md-offset-2">
		<h3><u>Description:</u>
			<%= link_to "Like", likes_path, method: "post" , class: "btn-sm btn-success pull-right" %></h3>
		<p><%= @article.description %></p>

		
		<u><h3>Comments:</h3></u>
		<%= render @article.comments %>
	</div>		

		<%= render "comments/new" %>
</div>
